.wrapper {

    width: 100%;
    padding: 25px;
    .container {
        width: 100%;
        padding: 0px;
        span {
            display: inline-block;
            width: 150px;
        }

        .item-detail {
            margin: 4px 0;
        }

        
        input {
            width: 360px;
            height: 36px;
            border: 1px solid rgb(130, 130, 205);
            padding: 0 16px;
            border-radius: 8px;
            margin: 8px 0;

            &:focus {
                border: 2px solid blue;
            }
        }

        .list-phuThuoc {
            button {
                margin: 8px 0; 
            }
        }
        
    }

    .option {
        margin: 50px 0 0 0;
        button {
            font-size: 15px;
            padding: 8px 24px;
        }
    }
}

