.wrapper {
    width: 100%;
    background-color: #f7f9fa;
    .container {
        width: 86%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                height: 50px;
            }

           
        }
        .search {
            width: 270px;
            border: 1px solid #ccc;
            height: 30px;
            background-color: white;
            font-size: 14px;
            padding: 4px 5px 4px 15px;
            input {
                width: 230px;
                height: 100%;
                outline: none;
                border: none;
            }

            i {
                color: #ccc;
            }
        }

        .auth {
            font-size: 14px;
            color: #ccc;
            cursor: pointer;
            span {
                margin: 0 5px;
            }

            .auth-box {
                position: relative;
                &:hover {
                    .option {
                        display: block;
                    }
                }
                .option {
                    position: absolute;
                    display: none;
                    top: 26px;
                    left: 0;
                    right: -20px;
                    border: 1px solid #ccc;
                    padding: 8px 0px;
                    background-color: white;
                    z-index: 900;

                    li {
                        padding: 5px 20px;
                        font-size: 13px;
                        color: #827e7e;

                        a {
                            font-size: 13px;
                            color: #827e7e;
                        }

                        &:hover {
                            background-color: #ccc;
                            color: var(--primary-color);
                            a {
                                color: var(--primary-color);
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -9px;
                        right: 0;
                        left: 0;
                        height: 9px;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .nav {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        .nav-primary {
            list-style: none;
            height: 36%;
            padding: 0;
            align-items: center;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            font-size: 16px;
            
            .menu-primary {
                border-right: 1px solid white;

            
               
            }

            .menu-primary:last-child {
                border: none;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 186px;
                padding: 0px;
                color: white;
                position: relative;
                height: 100%;
                margin: 0;
                &:hover ul {
                    display: block;
                }
                a {
                    color: white;
                }

                ul {
                    position: absolute;
                    display: none;
                    background-color: black;
                    width: 180px;
                    top: 30px;
                    left: 0;
                    padding: 8px 0 16px 0;
                    li {
                        padding: 10px 0;
                        &:hover a{
                            color: orange;
                        }
                        
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -12px;
                        left: 0;
                        right: 0;
                        height: 15px;
                        background-color: transparent;
                    }
                }

                
            }
        }

    }
}