.wrapper {

    width: 100%;
    padding: 25px;
    .item {
        padding: 5px 10px;
        width: 86%;
        .box {
            position: relative;
            display: flex;
            align-items: center;
            svg {
                position: absolute;
                right: 10px;
            }
        }

        .list-category {
            display: flex;
            margin: 5px 0;
            .item-category {
                display: flex;
                align-items: center;
                margin: 0 10px 0 0px;
                span {
                    font-size: 14px;
                    display: inline;
                    margin: 0 5px;
                }
    
                input {
                    width: 14px;
                    height: 14px;
                }
            }     
        }

        select {
            width: 100%;
            height: 36px;
            border: 1px solid rgb(130, 130, 205);
            padding: 0 16px;
            border-radius: 8px;
            margin: 8px 0;
        }

        textArea {
            width: 100%;
            min-height: 120px;
            border: 1px solid rgb(130, 130, 205);
            padding: 10px 16px;
            border-radius: 8px;
            margin: 8px 0;
        }
    
        span {
            display: block;
        }

        .item-detail {
            margin: 4px 0;
        }

        
        input {
            width: 100%;
            height: 36px;
            border: 1px solid rgb(130, 130, 205);
            padding: 0 16px;
            border-radius: 8px;
            margin: 8px 0;
            font-size: 16px;

            &:focus {
                border: 2px solid blue;
            }
        }

        .list-phuThuoc {
            button {
                margin: 8px 0; 
            }
        }
        
    }

    .option {
        margin: 50px 0 0 10px;
        button {
            font-size: 15px;
            padding: 8px 24px;
        }
    }
}

