.wrapper {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
   
    .container {
        position: fixed;
   
        button {
            position: relative;
            height: 38px;
            display: flex;
            border-radius: 30px;
            background-color: transparent;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(112, 131, 165);
            
            &:hover {
                background-color: rgb(246 246 248);
            }
            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-right: 4px;
            }
    
            span {
                margin: 0 15px;
                font-size: 14px;
            }
            &:hover {
                ul {
                    display: block;
                }
            }

            ul {
                display: none;
                position: absolute;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                background-color: white;
                top: 55px;
                width: 180px;
                padding: 10px 20px;
                margin: 0;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                z-index: 99;
                li {
                    padding: 6px 10px;
                    font-size: 14px;
                    text-align: start;
                    &:hover {
                        background-color: #ccc;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -16px;
                    left: 0;
                    right: 20px;
                    background-color: transparent;
                    height: 16px;
                }
            }
        }
    }
   
}